.admin_section {
    padding-inline: 3%;
    padding-top: 2%;
}

.admin_section h1{
    color: oldlace;
}

.admin_section hr.solid {
    border-top: 3px solid #bbb;
}

.admin_section form button{
    position: relative;
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    transition: all 250ms ease-out;
}


.admin_section form button:before, .admin_section form button:after {
    content: "";
    position: absolute;
    z-index: -2;
    transition: all 250ms ease-out;
}
/* Paper effect – slightly raised off background */
.paper {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    border-color: #dedede;
}
/* Raised effect – pushes up on hover */
.paper-raise:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.paper-raise:hover {
    border: 1px solid #fff;
}
.paper-raise:hover:before {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}