@import url('bargraph.css');
@import url('gamecard.css');
@import url('gamepopup.css');
@import url('game_wallpaper.css');
@import url('login.css');
@import url('profile.css');
@import url('opponent.css');
@import url('admin_page.css');

@font-face {
    font-family: "Ethnocentric";
    src: url("../fonts/ethnocentric/ethnocentric rg.ttf") format("ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Ethnocentric";
    src: url("../fonts/ethnocentric/ethnocentric rg it.ttf") format("ttf");
    font-weight: 400;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: rotateX(0); /*transform: rotateX(-10deg); [makes a litle jump]*/
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
@keyframes spinners {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "poppins", sans-serif;
    height: 100%;
    background-color: #212933;
    animation: fadeIn 0.75s;
}

h1, h2 {
    font-family: "Ethnocentric";
}


/*header section*/
.page_body {
}

.page_top{
    position: relative;
    height: calc(0.40 * 100vw);
   /* background-image: url(../images/wpp1.jpg);*/
    z-index: 1;
}

.page_top .game-info{
    position: fixed;
    width: 100%;
    height: calc(0.40 * 100vw);
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    text-align: center;
    color: white;
    z-index: 1;
}

.page_top .game-info h1{

}

.page_bottom{
    /*Used for the games in gamecard.css to be slightly above the page bottom in home.html*/
    /*position: relative;
    margin-top: -50px; /* Negative margin to overlap with .page_top */
    /*padding-top: 50px; /* Add padding to offset the negative margin */
    position: relative; /* Added to position it relatively */
    padding-top: 20px; /* Added to create space for the overlapping section */
    z-index: 2; /* Added to ensure it appears above other elements */

    background-color: #212933;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px -1px 5px 0px #0f0f0f/*rgba(0, 0, 0, 0.18)*/;
    padding-bottom: 40px;
}

.page_detail h1, h2 {
    font-family: "Ethnocentric";
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 2px 2px 4px #000000;
}



/* navbar */
nav {
    /*background-color: #4f5359;
    background: rgba(79, 83, 89, 0.65);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);*/
    position: fixed;
    width: 100%;
    /* padding-bottom: 10px; */
    display: flex;
    /* text-align: center; */
    z-index: 1000;
    overflow: hidden;
}

/*.nav-link {
    display: inline-block;
    font-size: 20px;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}*/


/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    width: 80%;
}

.logo img {
    height: 3.5rem;
    width: 3.5rem;
}

/*Styling Links*/
/*.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    text-shadow: 2px 2px 4px #000000;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 20px 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}*/
.overlay {
    position: fixed;
    background: #1abc9c;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
}
.overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
}
.overlay .overlay-menu {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    /*height: 25%;*/
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: 0.35s;
}

#admin_link{
    display: none;
}


/*Styling Hamburger Icon*/
/*.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}*/
.hamburger {
    /*position: absolute;
    left: 15%;
    width: 20%;
    right: 1%;;
    z-index: 2;*/
    position: absolute;
    cursor: pointer;
    right: 1%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    overflow: hidden;
}

.ham {
    /*transition: transform 400ms;
    user-select: none;*/
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 700ms, stroke-dashoffset 700ms;
    stroke: #f2f5f7;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}
.ham4 .bottom {
    stroke-dasharray: 40 121;
}
.ham4.active .top {
    stroke-dashoffset: -68px;
}
.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    transition: all 0.2s ease;
    width: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/*end header section*/


/* footer section*/
/* .footer_section {
  background-color: #ffffff;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
} */

.hero_section {
    text-align: center;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 75%;
}

.hero_section h1 {
    font-size: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

footer {
    background-color: #4E5661/*#6e0f2f*/;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* footer left*/

footer .footer-left {
    width: 33%;
    padding-right: 15px;
}

footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .icons {
    margin-top: 25px;
}

footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #6e0f2f;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* footer center*/

footer .footer-center {
    width: 30%;
}

footer .footer-center i {
    background-color: #6e0f2f;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
}


/* footer right*/

footer .footer-right {
    width: 35%;
}

footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

footer h2 span {
    color: #0099ff;
}

footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

footer .menu a:hover {
    color: #0099ff;
}

footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.empty {
    position: fixed;
    inset: 0;
    background-color: #0f0f0f;
    opacity: .9;
    z-index: 99999999;
}

.empty:hover {
    cursor: pointer;
}

/* end footer section*/

/* admin section*/
.admin_section {
    padding-inline: 3%;
    padding-top: 2%;
}

.admin_section hr.solid {
    border-top: 3px solid #bbb;
}

/* end admin section*/
/*# sourceMappingURL=style_old.css.map */


.spinner {
    /* margin: 50px auto; */
    height: 200px;
    /* background: #FFF; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 15%);
}

.spinner .circle {
    animation: spinners linear infinite;
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #F00;
    border-radius: 50%
}

.spinner .one {
    width: 50px;
    height: 50px;
    border-top-color: #8f3b76;
    animation-duration: .85s
}

.spinner .two {
    width: 70px;
    height: 70px;
    border-top-color: #c7417b;
    animation-duration: .95s
}

.spinner .three {
    width: 100px;
    height: 100px;
    border-top-color: #f5487f;
    animation-duration: 1.05s
}




.rules_info{
    cursor: default;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.rules_info p{
    font-size:16px;
    line-height:150%;
    font-family:"Times New Roman",serif;
}





table {
    border:1px solid #b3adad;
    border-collapse:collapse;
    padding:5px;
}
table th {
    border:1px solid #b3adad;
    padding:5px;
    background: #f0f0f0;
}
table td {
    border:1px solid #b3adad;
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #313030;
}
td, th span{
    font-size:12.0pt;
    line-height:107%;
    font-family: "Times New Roman",serif;
    mso-fareast-font-family: "Calibri";
    mso-fareast-theme-font: "minor-latin";
    mso-ansi-language: "PT";
    mso-fareast-language: "EN-US";
    mso-bidi-language: "AR-SA";
}








/*.hero_section {
    text-align: center;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40%;
}

.hero_section h1 {
    font-size: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}*/